.list {
  ion-item {
    font-size: 11px;

    ion-icon {
      color: #02353c;
    }

    ion-label {
      color: #02353c;
      font-size: 15px;
    }
  }
} 
ion-select{
  font-size: 15px;
}