.title {
  text-align: center;
  font-size: 21px;
  margin: 0;
  padding-top: 11px;
  padding-bottom: 11px;
  color: black;
  font-weight: bold;
}

.text {
  text-align: center;
  line-height: 21px;
}
