<ion-header color='transparent' class="ion-no-border">
  <ion-toolbar color='transparent'>
    <ion-buttons slot="start">
      <ion-back-button color="dark" defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title color="dark">
      <b>
        {{'aboutUsPage.title' | translate}} 
      </b>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card mode="ios" class="ion-padding">
    <p class="title"> {{'aboutUsPage.taxi' | translate}}</p>
    <p class="text">
      {{'aboutUsPage.text' | translate}}
    </p>
  </ion-card>
</ion-content>