.logo {
  margin: auto;
  height: 170px;
  width: 180px;
  object-fit: contain;
  display: block;
}
.title {
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  color: black;
  margin: 0;
}

.asGuestBtn {
  margin: auto;
  display: block;
  width: 50%;
  --border-radius: 35px;
  margin-bottom: 9px;
  height: 45px;
}

.facebook {
  --background: #395694 !important;
  margin: auto;
  display: block;
  width: 50%;
  --border-radius: 35px;
  margin-bottom: 9px;
  height: 45px;
}

.art {
  height: 4px;
  width: 47%;
  background: #262626;
  border-radius: 50px;
  margin: auto;
  display: block;
}

.bottomText {
  color: grey;
  padding: 30px 0px;
  text-align: center;
  margin: 0;
  font-size: 14px;

  span {
    color: #36abe0;
    font-weight: bold;
  }

  a {
    text-decoration: none;
    font-weight: bold;
  }
}

.center {
  margin: auto;
  display: block;
  width: 85%;
  margin-bottom: 21px;
}

.divider-line-x {
  position: relative;
  text-align: center;
  font-family: Arial;
  font-weight: bold;
  font-size: 18px;
  color: #02353c;
  border-bottom: 2px solid #f2f2f2;
}

.divider-line-x span {
  position: relative;
  top: 13px;
  padding: 0 13px;
  background: white;
}

.socialBtn {
  margin: auto;
  font-size: 16px;
  padding: 14px;
  display: block;
  outline: none;
  border-radius: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 63px;
  width: 100%;

  img {
    margin: auto;
    display: block;
    height: 23px;
  }
}
form {
  width: 90%;
  margin: auto;
  display: block;
}
