.icoMic {
        font-size: 130px;
        text-align: center;
        margin: auto;
        display: block;
        margin-top: 13px;
        color: #c8c8c8;
}

.title {
        text-align: center;
        font-size: 17px;
        font-weight: bold;
        color: #222428;
}
.Btn {
        margin: auto;
        display: block;
        width: 90%;
        margin-bottom: 9px;
        height: 40px;
}
.iconsList {
        text-align: center;
        font-size: 30px;
        margin: auto;
        display: block;
}
.textList {
        text-align: center;
}

._3button {
        .card {
                color: black;
                padding-top: 10px;
                box-shadow: none;
        }
}
