<div class="inner-content" scrollY="false">
  <p class="title">
    {{'cancelReasonPage.title' | translate}}
  </p>
  <p class="subtitle">
    {{'cancelReasonPage.subtitle' | translate}}
  </p>
  <ion-button expand="full" class="btn" (click)="cancel(1)">
    {{'cancelReasonPage.r1' | translate}}
  </ion-button>
  <ion-button expand="full" class="btn" (click)="cancel(2)">
    {{'cancelReasonPage.r2' | translate}}
  </ion-button>
  <ion-button expand="full" class="btn" (click)="cancel(3)">
    {{'cancelReasonPage.r3' | translate}}
  </ion-button>
  <ion-button expand="full" class="btn" (click)="cancel(4)">
    {{'cancelReasonPage.r4' | translate}}
  </ion-button>
  <ion-button expand="full" class="btn" (click)="cancel(5)">
    {{'cancelReasonPage.r5' | translate}}
  </ion-button>
  <ion-button expand="full" class="btn" (click)="close()">{{'cancelReasonPage.close' | translate}}</ion-button>
</div>