<ion-header color='transparent' class="ion-no-border">
  <ion-toolbar color='transparent'>
    <ion-buttons slot="start">
      <ion-back-button color="dark" defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title color="dark">
      <b>
        {{'bookingHistoryPage.title' | translate}}
      </b>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-slides *ngIf="myJourneys.length === 0" class="swiper-no-swiping" style="height: 100%;">
    <ion-slide>
      <p class="noJourney">{{'bookingHistoryPage.noFound' | translate}}</p>
    </ion-slide>
  </ion-slides>
  <ion-card *ngFor="let item of myJourneys" mode="ios" (click)="openJourney(item)" routerLink="/trip-details">
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-no-padding">
        <ion-col size="9">
          <p class="date">
            <br>
            {{'bookingHistoryPage.BookingID' | translate}}: #{{item.bookingUniqueId}}
            <br>
            {{item.createdAt | date:'fullDate'}}
          </p>
        </ion-col>
        <ion-col size="3">
          <img src="assets/car.png" alt="">
        </ion-col>
      </ion-row>
    </ion-grid>
    <p class="title">{{'bookingHistoryPage.Tripto' | translate}} {{item.destination}}</p>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <p class="status" *ngIf="item.status == 'completed'"
            [style.color]="item.status == 'completed'?'#4ebe38':'red'">{{'bookingHistoryPage.Completed' | translate}}
          </p>
          <p class="status" *ngIf="item.status !== 'completed'"
            [style.color]="item.status !== 'completed'?'red':'#4ebe38'">{{'bookingHistoryPage.Cancelled' | translate}}
            {{item.cancelledBy == 'driver'? ('bookingHistoryPage.driver' | translate):('bookingHistoryPage.you' |
            translate)}}
          </p>
        </ion-col>
        <ion-col size="6">
          <p class="detail">{{'bookingHistoryPage.SeeDetails' | translate}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-infinite-scroll *ngIf="myJourneys.length !== 0" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{'bookingHistoryPage.load' | translate}}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>