<ion-content class="ion-padding">
  <ion-slides>
    <ion-slide>
      <ion-card class="ion-padding" mode="ios">
        <ion-grid class="ion-no-padding ion-no-margin">
          <ion-row>
            <ion-col size="3">
              <ion-icon (click)="goback()" class="backBtn" name="arrow-back-outline"></ion-icon>
            </ion-col>
            <ion-col size="7"></ion-col>
          </ion-row>
          <ion-row class="ion-no-padding ion-no-margin">
            <ion-col size="8">
              <h3 class="title">
                Login With<br> Phone Number!
                <br>
                <div class="art"></div>
              </h3>
            </ion-col>
            <ion-col size="4">
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-item class="ion-no-padding item" lines="none">
          <ion-label position="floating">Enter Your Phone Number
            <br>
            <small>(with country code)</small>
          </ion-label>
          <ion-input [style.border-bottom]="errMessage.length >0?'1px solid #d93025':'1px solid #055b63'" type="tel"
            (click)="onClickInput()" (keypress)="onKeyUpInput()" maxLength="13" [(ngModel)]="data.phoneNumber"
            placeholder="(###) ###-##-##"></ion-input>
        </ion-item>
        <p class="err">{{errMessage}}</p>
        <div style="position:relative;z-index:10;width:100%;margin-right:auto;">
          <div id="recaptcha-container"></div>
        </div>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>